.profile {
  background-color: blue;
  width: 70%;
  height: 1000px;
  margin: auto;
  border: #9d9d9d 10px solid;
}

.left-col {
  background: #2a2a2a;
  height: 980px;
  border-right: #9d9d9d 10px solid;
}

.right-col {
  background: #2a2a2a;
  width: 60.7%;
  height: 980px;
}

.profile-label {
  text-align: center;
  font-size: 30px;
  color: #f6ff67;
  margin: 3%;
  margin-top: 30px;
}

.proposal-label {
  text-align: center;
  font-size: 30px;
  color: #f6ff67;
  margin: 3%;
  margin-top: 60px;
}

.profile-line {
    background-color: #44708f;
    width: 90%;
    height: 3px;
    margin: auto;
    margin-bottom: 10px
}

.input-label {
  width: 90%;
  margin: auto;
  color: rgb(157, 157, 157);
}

.tabs {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.nav-tabs>li>a {
  color: #44708f;
}

.proposals-container {
  height: 400px;
  background: #2a2a2a;
  border: 5px solid white;
  overflow: auto;
}

.library {
  background: #6ca9d4;
  width: 94.2%;
  height: 815px;
  margin: auto;
  margin-top: 140px;
  overflow: auto;
  border: 10px #9d9d9d solid;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.add-form {
  float: right;
  margin-top: 20px;
  margin-right: 25px;
  background: #3f6e8e;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
}

.library-label {
  color: #f6ff67;
  float: left;
  font-size: 30px;
  padding: 30px;
  background: #3f6e8e;
  margin-top: 10px;
  margin-left: 20px;
  height: 140px;
  border: 10px #9d9d9d solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}