.book {
  background: black;
  width: 31.2%;
  float: left;
  margin-left: 10px;
  border: 10px solid #9d9d9d;
  margin-top: 20px;
  margin-bottom: 0;
}

.img-user {
  width: 100%;
  max-height: 200px;
  min-height: 200px;
}

.bookname {
  padding: 10px;
  text-align: center;
  font-size: 30px;
  overflow: auto;
  white-space: nowrap;
  color: #f0ff00;
}

.nickname {
  padding: 10px;
  text-align: center;
  color: rgba(239, 255, 0, 0.42);
}

.exchange-btn {
  color: yellow;
  width: 100%;
  background: #ff006a;
  padding: 5px;
  text-align: center;
}

.exchange-btn:hover {
  color: black;
  width: 100%;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
}